<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>edit-my-profile</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content [fullscreen]="true">
  <div>
    <div class="main-header">
      <div class="inner-div">
        <div class="photo-section-outer">
          <div class="photo-section">
            <img
              class="profile-pic"
              src="../../assets/img/10.jpg" 
              alt="Mudassir-Hussain"
            />
          </div>
          <div class="photo-section">
            <p class="edit-profile">Mudassir Hussain</p>
          </div>
          <!-- <p>icon</p> -->
        </div>
        <!-- <p class="edit">edit profile</p> -->

        <div class="input-fields">
          <div class="input-fields">
            <label for="first-name" class="first-name">First Name</label><br />
            <input type="text" class="form-control" placeholder="" />
          </div>
          <div class="input-fields">
            <label for="last-name" class="first-name">Last Name</label><br />
            <input type="text" class="form-control" placeholder="" />
          </div>
          <div class="input-fields">
            <label for="user-name" class="first-name">Username</label><br />
            <input type="text" class="form-control" placeholder="" />
          </div>
          <div class="input-fields">
            <label for="email" class="first-name">Email</label><br />
            <input type="email" class="form-control" placeholder="" />
          </div>
          <div class="input-fields">
            <label for="phone" class="first-name">Phone Number</label><br />
            <input type="number" class="form-control" placeholder="" />
          </div>
          <div class="input-fields">
            <label for="date" class="first-name">Date</label><br />
            <input type="date" class="form-control" placeholder="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
