.main-header {
  width: 100%;
  background-color: #fff;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-fields {
  padding: 5px;
  margin: 2px;
}
.photo-section-outer {
  padding-top: 15px;
}
.edit {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: black;
  margin: 0 !important;
}
.edit-profile {
  font-size: 18px;
  font-weight: bold;
  color: #59b88c;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px 0px !important;
}
.photo-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-control {
  font-size: 16px;
  font-weight: 400;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}
@media (min-width: 321px) {
  .form-control {
    width: 300px;
  }
}
.first-name {
  font-size: 16px;
  font-weight: 400;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
