<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>my-profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <ion-toolbar>
      <ion-title size="large">my-profile</ion-title>
    </ion-toolbar> -->
  </ion-header>
  <div class="outer-div">
    <div class="inner-div">
        <div class="profile-div-section">
            <img class="profile-image" src = "../../assets/img/10.jpg" alt="Mudassir-Hussain"/>
            <h4 class="heading-text">Mudassir Hussain</h4>
            <p class="mail-text">mudassirhussain123{{'@'}}gmail.com</p>
            <button class="button-text" routerLink="[/edit-my-profile]">Edit Profile</button>
        </div>
        <div class="data-div-section">
        <div class="inner-data-section">
            <p><i class="fa-regular fa-heart"></i></p>
            <p>Favourites</p>
        </div>
        <div class="inner-data-section">
            <p><i class="fas fa-download"></i></p>
            <p>Downloads</p>
        </div>
        <hr class="line">
        <div class="inner-data-section">
            <p><i class="fas fa-language"></i></p>
            <p>Languages</p>
        </div>
        <div class="inner-data-section">
            <p><i class="fas fa-map-marker-alt"></i></p>
            <p>Locations</p>
        </div>
        <div class="inner-data-section">
            <p><i class="fas fa-x-ray"></i></p>
            <p>Subscriptions</p>
        </div>
        <div class="inner-data-section">
            <p><i class="fas fa-tv"></i></p>
            <p>Display</p>
        </div>
        </div>
        <hr class="line">
    </div>
    </div>
    
</ion-content>
