<!-- <ion-content>
  <div class="div-img"></div>
  <ion-searchbar
  placeholder="Search books..."
  (ionInput)="onSearchChange($event)"
  debounce="300"
></ion-searchbar>
  <swiper-container
    class="books-slider"
    [autoplay]="{ 'delay': 3000, 'disableOnInteraction': false }"
    [slidesPerView]="3"
  >
    <ng-container *ngFor="let books of bookImages">
      <swiper-slide>
        <div class="slide-content">
          <img src="{{books}}" class="bookImage" alt="Discounted Books" />
        </div>
      </swiper-slide>
    </ng-container>
  </swiper-container>
  <div *ngFor="let book of filteredBooks">
  <!-- <p>
   
  </p> -->
    <p [innerHTML]="book.title"></p>
    <p [innerHTML]="book.author"></p>
    <p [innerHTML]="book.description"></p>
</div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start" class="footer-buttons">
      <ion-button routerLink="/dashboard">
        <ion-icon name="home-outline"></ion-icon>

      </ion-button>

      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button> -->

<!-- Profile Icon -->
<!-- <ion-button>
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->

<ion-content [fullscreen]="true">
  <div class="div-img"></div>
  <swiper-container
    class="books-slider"
    [autoplay]="{ 'delay': 3000, 'disableOnInteraction': false }"
    [slidesPerView]="3"
  >
    <ng-container *ngFor="let books of bookImg.bookImages">
      <swiper-slide>
        <div class="slide-content">
          <img src="{{books}}" class="bookImage" alt="Discounted Books" />
        </div>
      </swiper-slide>
    </ng-container>
  </swiper-container>
  <!-- <div *ngFor="let book of filteredBooks">
    <p [innerHTML]="book.title"></p>
    <p [innerHTML]="book.author"></p>
    <p [innerHTML]="book.description"></p>
  </div> -->
  <!-- <ionic-button (click)="pickPDFFile()">View PDF</ionic-button> -->
  <!-- <ion-searchbar
    placeholder="Search books..."
    (ionInput)="onSearchChange($event)"
    debounce="300"
  ></ion-searchbar> -->
  <ion-button class="pdf-download" (click)="downloadPDF()">
    <ion-label>PDF Download</ion-label>
  </ion-button>
  <pdf-viewer
    [src]="bookImg.pdf"
    [render-text]="true"
    [original-size]="false"
  ></pdf-viewer>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start" class="footer-buttons">
      <ion-button routerLink="/dashboard">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>

      <ion-button routerLink="/search-book">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>

      <!-- <ion-button>
        <ion-icon name="person-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
